
.member {
    margin-bottom: 2rem
}

.member .member-top {
    position: relative;
    background-color: #d7d4d4;
    margin-bottom: 1.35rem;
    overflow: hidden
}

.member .member-top figure {
    position: relative
}

.member .member-top figure img {
    display: block;
    width: 100%;
    height: auto
}

.member .member-top figure:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #673AB7;
    opacity: 0;
    visibility: hidden;
    transition: all .65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
    z-index: 50
}

.member .member-top .social-icons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    padding: 0;
    margin: 0;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all .65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s
}

.member .member-top .social-icons label {
    color: #f2f2f2;
    font-weight: 400;
    margin-right: 4px;
    font-size: 12px
}

.member .member-top .social-icons .social-icon {
    display: block;
    border-radius: 0;
    margin: 0;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    padding-top: 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .member .member-top .social-icons .social-icon {
        width: 2.7rem;
        height: 2.7rem;
        line-height: 2.7rem
    }
}

.member .member-title {
    font-size: 1.25rem;
    margin-bottom: 1rem
}

.member .member-title a {
    color: #212121
}

.member .member-title a:hover,
.member .member-title a:focus {
    color: #673AB7
}

.member .member-title small {
    display: inline;
    font-size: 80%;
    color: #E91E63;
    font-weight: 600
}

.member .member-title:after {
    content: '';
    clear: both;
    display: table
}

.member.text-center .member-title {
    margin-bottom: 0.85rem
}

.member.text-center .member-title small {
    display: block;
    margin-top: 0.6rem
}

.member:hover .member-top figure:after {
    visibility: visible;
    opacity: 0.35
}

.member:hover .member-top .social-icons {
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.swiper-container .member {
    margin-bottom: 0
}

.swiper-container .member p:last-child {
    margin-bottom: 0
}


.social-icons {
    margin-bottom: 1rem
}

.social-icons:after {
    content: '';
    display: table;
    clear: both
}

.social-icons .social-icon {
    display: inline-block;
    font-size: 1.1rem;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 4px;
    color: #323232;
    background-color: #fff;
    transition: all .65s cubic-bezier(0.92, 0.17, 0.29, 0.93) 0s;
    margin: 0 0 0.25rem;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}

.social-icons .social-icon+.social-icon {
    margin-left: 0.25rem
}

.social-icons .social-icon.circle {
    border-radius: 50%
}

.social-icons .social-icon:hover,
.social-icons .social-icon:focus {
    color: #fff;
    background-color: #673AB7
}

.bg-white .social-icons .social-icon {
    background-color: #d7d4d4
}

.bg-white .social-icons .social-icon:hover,
.bg-white .social-icons .social-icon:focus {
    color: #fff;
    background-color: #673AB7
}

.social-icons.circle .social-icon {
    border-radius: 50%
}


.leadership.duayne {
    margin-top: 20px;
}

.leadership {
    width: 100%;
    padding: 11px 0 0;
}

.leadership .leaderline {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    min-height: 170px;
    border-top: 1px #eeeeee solid;
    cursor: pointer;
    padding-top: 20px;
}

.leadership .leaderline img {
    float: left;
    width: 150px;
    padding-bottom: 20px;
}

.leadership .leaderline .exec {
    margin-top: 40px;
    margin-left: 25px;
    text-transform: uppercase;
    width: 300px;
    float: left;
}

.leadership .leaderline .exec .exec-name {
    font-weight: 300;
    color: #ea1d76;
    font-size: 24px;
    line-height: 32px;
}

.leadership .leaderline .exec .exec-title {
font-weight: 300;
    color: #666666;
    font-size: 16px;
    line-height: 24px;
}

.leadership .leaderline .toggle-bio {
    margin-top: 65px;
    float: right;
    clear: right;
}

.leadership .leaderline .toggle-bio img {
    height: 18px;
    width: 18px;
}

.leadership .leaderline .toggle-bio.duayne,
.leadership .leaderline .toggle-bio.stephen,
.leadership .leaderline .toggle-bio.bryan,
.leadership .leaderline .toggle-bio.dion,
.leadership .leaderline .toggle-bio.daniel,
.leadership .leaderline .toggle-bio.tawn,
.leadership .leaderline .toggle-bio.jill {
    background-image: url(../img/About_Bio_Expand.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22px;
    width: 22px;
}

.leadership .leaderline .toggle-bio.duayne.close,
.leadership .leaderline .toggle-bio.stephen.close,
.leadership .leaderline .toggle-bio.bryan.close,
.leadership .leaderline .toggle-bio.dion.close,
.leadership .leaderline .toggle-bio.daniel.close,
.leadership .leaderline .toggle-bio.tawn.close,
.leadership .leaderline .toggle-bio.jill.close {
    background-image: url(../img/About_Bio_Collapse.png);
    height: 18px;
    width: 18px;
}

.leadership .bio {
    float: none;
    clear: left;
    position: relative;
    display: none;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 24px;
}


    #map-canvas {
      margin: 0;
      padding: 0;
      height: 300px;
    }

@media (min-width: 300px) { 
    .leadership .leaderline .exec {
        margin-top: 0px;
        margin-left: 0px;
    }
    .leadership .leaderline .toggle-bio {
        margin-top: 20px;
    }
}
@media (min-width: 576px) { 
    .leadership .leaderline .exec {
        margin-top: 40px;
        margin-left: 25px;
    }
    .leadership .leaderline .toggle-bio {
        margin-top: 65px;
    }
}