.container.services {
    font-family: 'Open Sans';
    width:960px;
    height:auto;
    padding-bottom:50px;
    margin:auto;
    overflow:hidden;

}

.title h2 {

}

svg {
  min-width:170px;
  width:20%;
  height:140px;
  fill:#cdcdcd;
}
.icon svg:hover{
  fill:#ff0000;
}


.icons ul{
  text-decoration:none;
  padding-bottom:30px;
}
.icons li:first-child{
margin-left:0px;
color:#cdcdcd;

}
.icons li:last-child{
margin-right:0px;
}


.icons li{
  width:19%;
  height:150px;
  list-style:none;
  display:inline-block;
  position:relative;
  font-size:14px;
  color:#cdcdcd;
}



.icons li:hover{
  background-color:rgba(247, 247, 247, 1);
  color:red;
}


.icon{
  width:150px;
  height:150px;
  position:absolute;
  width:100%;
  text-align:center;
  top:0;
  left:0;
  z-index:2;
}

.text-dis{
  position:absolute;
  bottom:15px;
  width:100%;
  text-align:center;
  font-size:14px;
  font-weight:400;
  z-index:3;
}



.text{
  margin-top:30px;
  height:250px;
  width:980px;
  overflow:hidden;
  margin-top:50px;
  margin-bottom:30px;
}

#text-content{
transition: linear 0.3s;
width:960px;


}
.text-container1{
margin-left:0px;
}
.text-container2{ 
margin-left:1000px;
}
.text-container3{
margin-left:2000px;
}

.text-container4{
margin-left:3000px;
}

.text-container5{
margin-left:4000px;
}


.slide-left-1{
  margin-left:0px;
  opacity:1.0;
}
.slide-left-2{
  margin-left:980px;
    opacity:0;
}
.slide-left-0{
  margin-left:-980px;
    opacity:0;
}
.slide-left-3{
  margin-left:-1960px;
    opacity:0;
}
.slide-left-4{
  margin-left:1960px;
    opacity:0;
}
.slide-left-5{
  margin-left:2940px;
    opacity:0;
}

.slide-left-6{
  margin-left:-2940px;
    opacity:0;
}

.slide-left-7{
  margin-left:-3920px;
    opacity:0;
}



.text_1{
  width:280px;
  padding:20px;
  margin-top:10px;
  font-size:24px;
  line-height:36px;
  float:left;
  font-weight:400;
}

.text_2{
  float:left;
  width:280px;
  padding:20px;
  font-size:14px;
  line-height:25px;
}

.text_3{
  float:left;
  width:280px;
  padding:20px;
  font-size:14px;
  line-height:25px;
 }

.hidden{
  fill:#cdcdcd;
}

.active{
color:#ff0000 !important;
fill:#ff0000;
background-color:rgba(247, 247, 247, 0.5);
}


.leadership {
    width: 100%;
    padding: 11px 0 0;
}

.leadership .leaderline {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    min-height: 90px;
    border-bottom: 1px #eeeeee solid;
    cursor: pointer;
}

.leadership .leaderline img {
    float: left;
    width: 80px;
    padding-bottom: 20px;
}

.leadership .leaderline .exec {
    margin-top: 15px;
    margin-left: 10px;
    text-transform: uppercase;
    width: 300px;
    float: left;
}

.leadership .leaderline .exec .exec-name {
    font-weight: 300;
    color: #ea1d76;
    font-size: 24px;
    line-height: 32px;
}

.leadership .leaderline .exec .exec-title {
font-weight: 300;
    color: #666666;
    font-size: 16px;
    line-height: 24px;
}

.leadership .leaderline .toggle-bio {
    margin-top: 25px;
    float: right;
    clear: right;
}

.leadership .leaderline .toggle-bio img {
    height: 18px;
    width: 18px;
}

.leadership .leaderline .toggle-bio.mobile,
.leadership .leaderline .toggle-bio.pos,
.leadership .leaderline .toggle-bio.mcommerce,
.leadership .leaderline .toggle-bio.ecommerce,
.leadership .leaderline .toggle-bio.sales,
.leadership .leaderline .toggle-bio.event,
.leadership .leaderline .toggle-bio.emv,
.leadership .leaderline .toggle-bio.gift,
.leadership .leaderline .toggle-bio.loyalty,
.leadership .leaderline .toggle-bio.poynt {
    background-image: url(../img/About_Bio_Expand.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 22px;
    width: 22px;
}

.leadership .leaderline .toggle-bio.mobile.close,
.leadership .leaderline .toggle-bio.pos.close,
.leadership .leaderline .toggle-bio.mcommerce.close,
.leadership .leaderline .toggle-bio.ecommerce.close,
.leadership .leaderline .toggle-bio.sales.close,
.leadership .leaderline .toggle-bio.event.close,
.leadership .leaderline .toggle-bio.emv.close,
.leadership .leaderline .toggle-bio.gift.close,
.leadership .leaderline .toggle-bio.loyalty.close,
.leadership .leaderline .toggle-bio.poynt.close {
    background-image: url(../img/About_Bio_Collapse.png);
    height: 18px;
    width: 18px;
}

.leadership .bio {
  float: none;
      clear: left;
      position: relative;
      display: none;
      font-size: 16px;
      line-height: 24px;
      padding-top: 20px;
    }

.leadership .bio p {
  font-size: 16px;
  line-height: 22px;
}
.leadership .bio h4 {
  font-weight: 300;
}


