body {
  padding-top: 2rem;
  background-image: url(../img/geo-pattern-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Color palette */

:root {
	--brownish-grey: #696969;
	--cool-grey: #95989a;
	--white: #ffffff;
	--tea: #76b197;
	--white-two: #ebebeb;
	--warm-grey: #828282;
	--denim: #3f5989;
	--warm-grey-two: #999999;
}

/* Text styles */

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 42px;
	color: #828282;
	color: var(--warm-grey);
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	line-height: 40px;
	color: #696969;
	color: var(--brownish-grey);
}

h2.title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 27px;
	line-height: 32px;
	color: var(--brownish-grey);
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	color: #ffffff;
	color: var(--white);
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	color: #828282;
	color: var(--warm-grey);
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #95989a;
	color: var(--cool-grey);
	font-weight: 300;
}
strong {
	color: #3f5989;
	font-weight: 700;
}
.font-alt p,
.font-alt h2,
.font-alt li {
	color: #fff;
}
/* Navbar Header */
.navbar {
	margin-bottom: 2rem;
}
.navbar-nav .nav-item {
	padding: 5px 15px;
}
.navbar-nav .nav-link {
	font-family: 'Source Sans Pro', sans-serif;;
	font-size: 20px;
	text-align: center;
	color: #828282 !important;
	color: var(--warm-grey);
	font-weight: 500;
}
.navbar-inverse .navbar-toggler {
	background: transparent; 
}
.navbar-toggler .icon-bar {
    color: #828282;
    background-color: #828282;
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
}

.bg-inverse {
	background-color: transparent !important;
}

/* Home Page Sections */
.home-row {
	margin-top: 150px;
}
.home-banner {
	background-color: #3f5989;
	background-color: var(--denim);
}
.font-white {
	color: #fff;
	font-weight: 300;
}

/* Home-Panels */
.home-panels .panel {
	border: solid 1px #d7d7d7;
	height: 370px;
}
.home-panels .panel strong {
	display: block;
}
/* Buttons */
button, input, optgroup, select, textarea {
	font-family: 'Source Sans Pro', sans-serif;
}
.btn {
	min-width: 150px;
}
.btn-default,
.btn-alt:hover {
	border-radius: 10px;
	background-color: #76b197;
	background-color: var(--tea);
	color: #fff;
	padding: 10px 20px;
	margin-right: .5rem;
}
.btn-alt,
.btn-default:hover {
	border-radius: 10px;
	background-color: #ebebeb;
	background-color: var(--white-two);
	color: #76b197;
	padding: 10px 20px;
	margin-right: .5rem;
}
.carousel,
.item {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}


.solutions {
    background: #76b197 url(../img/carlos-muza-84523-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
#myCarousel {
	height: 400px;
}
.carousel-indicators {
	top: 10px;
}


#search {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	}

#label label {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: 50px;
	height: 50px;
	font-size: 0;
	color: rgba(0, 0, 0, 0);
	text-indent: -9999px;
	cursor: pointer;
	margin: 0 auto;
}
#input {
	pointer-events: none;
	transition: all 0.3s;
	opacity: 0;
	top: 0;
	height: 50px;
	z-index: 5;
	transition: linear .5s;
	-webkit-transition: linear .5s; /* Safari */
}
#input input {
	display: block;
	position: absolute;
	top: 0;
	right: 70px;
	width: 700px;
	height: 100%;
	margin: 0;
	padding: 0 10px;
	border: none;
	background-color: rgba(255, 255, 255, .95);
	color: #3f5989;
	font-size: 40px;
	backface-visibility: none;
	border-radius: 0;
	transition: right 0;
	border: 1px solid #3a3a3a;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $color-font-white;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $color-font-white;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $color-font-white;
}
:-moz-placeholder { /* Firefox 18- */
	color: $color-font-white;
}
::-webkit-search-cancel-button {
   webkit-appearance: searchfield-cancel-button;
}

#input input:focus {
	outline: none
}
#input.focus {
    pointer-events: all;
	z-index: 20;
    opacity: 1;
}
button.close {
	position: absolute;
	right: 80px;
	top: 37%;
	color: #3a3a3a;
	text-shadow: none;
	opacity: .9;
}
button.close:after {
    display: block;
	right: -22px;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top: 10px solid transparent;
	border-left: 10px solid #3a3a3a;
	border-bottom: 10px solid transparent;
	margin-top: -10px;
}
button.get-started {
	-webkit-animation: pulse 2s infinite cubic-bezier(.66,0,0,1);
    animation: pulse 2s infinite cubic-bezier(.66,0,0,1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}


@media (min-width: 300px) { 
	.navbar-brand img {
		max-width: 200px;
	}
	.navbar-inverse .navbar-toggler {
	    top: 20px;
	}
	.home-row {
	    margin-top: 0;
	}
	.form-inline {
		display: none;
	}
	.navbar-collapse {
		background-color: #fff;
	}
	.solutions {
		background: #76b197;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	.navbar-brand img {
		max-width: 250px;
	}
	.navbar-nav .nav-link {
		color: #828282 !important;
		color: var(--warm-grey);
	}
	#input input {
		width: 200px;
	}
	.navbar-inverse .navbar-toggler {
	    top: 35px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.navbar-brand img {
		max-width: 100%;
	}
	#input input {
		width: 400px;
	}
	.solutions {
	    background: #76b197  url(../img/carlos-muza-84523-1.png);
	    background-size: contain;
    	background-repeat: no-repeat;
    	background-position: 500%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.home-row {
	    margin-top: 150px;
	}
	.form-inline {
		display: -webkit-box;
    	display: -webkit-flex;
    	display: -ms-flexbox;
    	display: flex;
	}
	.navbar-collapse {
		background-color: transparent;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	#input input {
		width: 700px;
	}
	.solutions {
	    background-position: 100% 0;
	}
}


